[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
black = "*"
freezegun = "*"

[packages]
amqp = "<6"
atomicwrites = "<2"
billiard = "<4"
celery = "==4.3.0"
dj-database-url = "<1"
djangorestframework = "<4"
django = {extras = ["bcrypt"],version = "==2.2.22"}
django-celery-beat = "==2.0.0" # Upgrading triggers a nasty chain of upgrades
docutils = "*"
idna = "==2.8"  # This fixes a dependency issue. Remove when possible
jmespath = "<1"
kombu = "==4.5.0"  # Kombu 4.6.5 has an issue, so lock to this for now
mypy = "==0.782"
oauthlib = "<4"
psycopg2 = "<3"
py = "<2"
pytest = "==3.9.3"
pytest-django = "==3.4.3"
python-crontab = "<3"
python-dateutil = "<3"
python3-openid = "<4"
pytz = "<2022"
redis = "<4"
requests = "<3"
requests-oauthlib = "<2"
simplejson = "<4"
social-auth-app-django = "<5"
social-auth-core = "<5"
typed-ast = "<2"
urllib3 = "<2"
vine = "*" # Need to keep this starred, not sure why locking to v1 doesn't work
awscli = "<2"
boto3 = "<2"
gunicorn = "<21"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
